<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>selectPhotoFromCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C043EF8F1D0E552000018423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C043EFA81D0E552000018423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C043EFB31D0E552000018423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
